@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img-ingre/fondo-carrito17.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    align-items: center;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #FFF;
    border-radius: 10px;
    padding: 30px 40px;
    width: 85%;
    margin-left: 110px;
    margin-top: 100px
}

.wrapper .botones{
    text-align: center;
    align-items: center;
}
